.header {
	background-color: rgb(233,99,59);
	text-align: center;
	padding: 10px;
	color: rgb(255,255,255);
	font-family: courier, monospace;
}
.centeredLogo
    { 
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

div h2 {
	text-align: center;
}

li{
	text-align: center;
	background-color: rgb(34,30,29);
}

.btn {
    margin: 5px;
}

.tabs{
	min-height: 20px;
}

#paper{
	background-color: rgb(236,234,224);
	height: 500px;
	padding-left: 50px;
	padding-top: 20px;
}

#sidebar {
	min-height: 200px;
	background-color: rgb(233,99,59);
	margin-left: 20px;
	padding-left: 20px;
	font-family: courier, monospace;
}

#content{
	background-color: rgb(236,234,224);
	margin-left: 20px;
	min-height: 600px;
	margin-bottom: 20px;
	font-family: courier, monospace;
}

#footer {
	background-color: rgb(233,99,59);
	min-height: 100px;
}

.form-vertical {
	background-color: rgb(232,159,101);
}

form h2 {
	text-align: center;
	padding: 10px;
}

#formHolder {
	background-color: lightblue;
}

.form-group {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	min-height: 50px;
}
.body {
	background-color: rgb(34,30,29);
}
