.header {
	background-color: rgb(204,51,51);
	text-align: center;
	padding: 10px;
}

div h2 {
	text-align: center;
}

li{
	text-align: center;
	background-color: rgb(204,51,51);
}

.btn {
    margin: 5px;
}

.tabs{
	min-height: 20px;
}

#paper{
	background-color: rgb(255,255,153);
	height: 500px;
	padding-left: 50px;
	padding-top: 20px;
}

#sidebar {
	min-height: 200px;
	background-color: rgb(232,159,101);
	margin-left: 20px;
	padding-left: 20px;
}

#content{
	background-color: rgb(232,159,101);
	margin-left: 20px;
	min-height: 600px;
	margin-bottom: 20px;
}

#footer {
	background-color: rgb(204,51,51);
	min-height: 100px;
}

.form-vertical {
	background-color: rgb(232,159,101);
}

form h2 {
	text-align: center;
	padding: 10px;
}

#formHolder {
	background-color: lightblue;
}

.form-group {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	min-height: 50px;
}
.body {
	background-color: rgb(227,222,193);
}
